
 @media (max-width: 575.98px){
   header{      
      padding: 30px 0;
   }
   .header-area{
      flex-direction: column;
   }
   .header-title {
      width: 100%;
      padding-top: 0px;
      text-align: center;     
      padding-bottom: 40px;
  }
   .header-title h1 {      
      font-size: 20px;
      
   }
   .header-title a{
      display: inline-block;
      background: #e02c6d;
      color: #fff;
      font-size: 16px;
      text-transform: capitalize;
      padding: 10px 20px;
      position: relative;
      transition: 0.5s;  
   
   }  
   .header-img{
      text-align: center;
      margin-left: 25%;
   }

   
/* plaers area css start  */
#player-sec{
   background: #fff;
}
.players-area{
   padding-top: 40px ;
   padding-bottom: 35px;
}
.players{  
   grid-template-columns: repeat(1, 1fr);
   
}
.player-title {
   font-size: 18px;
   margin-bottom: 10px;
}

.player p{
   font-size: 14px;
   line-height: 1.7em;
   color: rgb(199, 193, 193);

}

/* ------------news are -------------- */
#news-sec {
   background: #fff;
   padding-bottom: 25px;
}
.news-area {
   padding: 15px 0;
}
.news-area h2 {
   margin: 8px 0;
   font-size: 20px;
   padding-bottom: 0;
   color: #000000;
}

.latest-news{  
   grid-template-columns: repeat(1, 1fr); 
   grid-row-gap: 30px; 
   
}
.news1-img img{
   border-radius: 5px;
   
}
.news1 {
   flex-direction: column;
   padding-top: 15px;
}
.news1-info {
   padding-left: 5px;
}
.news1-info h3 {
   margin-top: 16px;
   font-size: 18px;   
}
.news1-info p {
   font-size: 16px;
   line-height: 21px;
   color: #ccc0b9;
   padding-bottom: 8px;
}

/*---------- subscribe form ----------- */
#sub-sec {
   padding: 35px 0;
}
.subscribe-area {   
   padding-top: 35px;
   padding-bottom: 60px;
}
.subscribe-form{

}   
.subscribe-form h3 {
   font-size: 19px;
}
input {
   text-align: center;
   width: 70%;
   padding: 15px 10px;
   display: block;
   margin-left: 12%;
}
.sub-btn {
   width: 76%;
   font-size: 16px;
   margin-top: 20px;
}
/* --------footer area--------- */
footer {
   padding-top: 25px;
}
.footer-top img {   
   width: 350px;
   height: auto;
}
.socail-icon ul li a {   
   height: 40px;
   width: 40px;  
   font-size: 20px;
   line-height: 40px;
   
}
footer p{
   font-size: 16px;   
   padding-top: 10px;
}  
  
}



@media (min-width: 576px) and (max-width: 768px){

   header{     
      padding: 40px 0;
   }
   .header-title h1 {   
      font-size: 33px;
      margin-left: 20px;
      
  }
  .header-title a {   
   margin-left: 20px;
}
.players {   
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
   padding: 0 10px;
}
.players-area {
   padding-top: 40px;
   padding-bottom: 25px;
}


.latest-news {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 30px;
   grid-row-gap: 30px;
   padding: 0 20px;
}
.news1 {

   flex-direction: column;
   padding-top: 30px;
}
.news1-info {
   padding-top: 25px;
   padding-left: 0px;
}


.subscribe-area {   
   padding-top: 40px;
   padding-bottom: 70px;
}
input {
   width: 40%;   
}
.sub-btn {
   width: 15%;   
}
.footer-top img {   
   width: 350px;
   height: auto;
}
.socail-icon ul li a {   
   height: 40px;
   width: 40px;  
   font-size: 20px;
   line-height: 40px;
   
}


} 