/*================== google fonts=========================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/*========================= common style ======================= */
body{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;

}
ul{
   list-style: none;
}
li{
   display: inline-block;
}
a{
   text-decoration: none;
}
.container{
   max-width: 870px;
   margin: 0 auto;
   
}
img{
   max-width: 100%;
}

.btn{
   display: inline-block;
   background: #e02c6d;
   color: #fff;
   font-size: 16px;
   text-transform: capitalize;
   padding: 10px 20px;
   position: relative;
   transition: 0.5s;  
   position: relative;
   transition: all 0.5s ease 0s;
   

}
.btn::after{
   background: #fff;
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   transition: all 0.5s ease 0s;  
   z-index: -1;
   
}
.btn:hover{
   z-index: 1;
   color:#e02c6d;

}
.btn:hover::after{
   width: 100%;
}
/*======================= keyframe ====================== */
@keyframes banner-animation {
   from{
       transform: scale(0.5);
   }
   to{
       transform: scale(1.5);
   }
}
/*=================== header css start========================= */
header{
   background-image: linear-gradient(to right top, #01164d, #2c1d5e, #4e226c, #702577, #92287f);   
   padding: 70px 0;
   animation-name: example;
   animation-duration: 4s; 

}
.header-area{
   display: flex;  
}
.header-title{
   width: 40%;
   padding-top: 25px;
}
.header-title h1 {
   color: #fff;
   font-size: 47px;
   font-weight: 600;
   text-transform: capitalize;
   letter-spacing: 1px;
   line-height:1.3em;
}

.header-img {
   width: 50%;  
   margin-left: 10%;
}
.header-img:hover img{  
    animation-name: banner-animation;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
/*================header css ends================== */

/*================ plaers area css start ================================== */
#player-sec{
   background:  #01164d;
}
.players-area{
   padding-top: 70px ;
   padding-bottom: 35px;

}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}
.player {
   background: #fff;
   box-shadow: 1px 1px 9px 1px rgb(84 107 45 / 45%);
   padding: 10px;
   border-radius: 5px;
}
.player img{
   max-width: 100%;

}
.player-title{
   font-size: 24px;
   text-transform: capitalize;
   font-weight: 600;
   margin-top: 5px;
   
}

.player p{
   font-size: 14px;
   line-height: 1.7em;
   color: rgb(199, 193, 193);

}

/*================================== latest news css start ========================= */
#news-sec{
   background:  #01164d;
}
.news-area{
   padding: 50px 0;
}
.news-area h2 {
   text-align: center;
   padding-bottom: 30px;
   text-transform: capitalize;
   letter-spacing: 1px;
   color: #fff;
   font-size: 30px;
   font-weight: 600;
}

.latest-news{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 40px;   
   
}
.news1-img img{   
   box-shadow: -13px 15px 0px 0px #fff;
   
}
.news1{
   display: flex;
   padding-top: 30px;
   
}
.news1-info {
   padding-left: 20px;
}
.news1-info h3 {
   color: #fff;
   margin-top: 5px;
   font-size: 20px;
   font-weight: 600;
   text-transform: capitalize;
}
.news1-info p {
   font-size: 16px;
   line-height: 21px;
   color: #ccc0b9;
}
/*========================== latest news css ends  ==========================*/
/*====================== subscribe-area css start ========================= */
#sub-sec{
   background-image: linear-gradient(to right top, #01164d, #2c1d5e, #4e226c, #702577, #92287f);
   
}
.subscribe-area {  
   text-align: center;   
   padding-top: 60px;
   padding-bottom: 80px;
}
.subscribe-form{

}   
.subscribe-form h3 {
   font-size: 30px;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: 1px;
   font-weight: 700;
}
input {
   width: 30%;
   padding: 20px 10px;
   border: none;
   font-size: 16px;
   text-transform: capitalize;  
   color: #fff;
}
.sub-btn {
   width: 10%;
   border: none;
   font-size: 16px;
   text-transform: capitalize;
   background: #e02c6d;
   color: #fff;
   transition: 0.5s;
}
.sub-btn:hover{
   background: #fff;
   color: #e02c6d;
   cursor: pointer;
   
}
/*============================ subscribe-area css ends =========================== */
/*================================ footer css start ===================== */
footer{
     text-align: center;
   padding:60px 0 30px 0 ;
  background:  #01164d;
}
.footer-top img {
   width: 220px;
   height: auto;
   margin: 0 auto;
}
.socail-icon ul li{   
   margin-right: 15px ;

}
.socail-icon ul li a{  
   display: block;
   height: 40px;
   width: 40px;
   line-height: 40px;
   background: #fff; 
   color: #10437a;
   font-size: 25px;  
   border-radius: 50%;
   transition: 0.5s;
}
.socail-icon ul li a:hover{
   background: #e02c6d;
   color:#fff ;
   transform: rotate(720deg);
}
footer p{   
   font-size: 14px;
   text-transform: capitalize;
   letter-spacing: 1px;
   padding-top: 10px;
   color: #fff;
}
/*====================================== footer css ends ========================*/







